@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes onLoadPage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    animation: ease-in 1s onLoadPage;
}

h1,h2,h3 {
    font-family: 'Bebas Neue', sans-serif;
}

ul li {
    list-style: none;
}

h1 {
    font-size: 48px;
    margin: -10px 0px;
    color: white;
}

h3 {
    font-size: 25px;
    color: teal;
}

span {
    color: white;
}

a {
    text-decoration: none !important;
}

.logo-span {
    font-size: 3em;
    padding: 0 5px;
}


.name-warp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 350px;
}

.skills-popup {
    display: none;position: absolute; top: 40px; background: firebrick; height: 55px; width: 270px;
}

i:hover {
    background: -webkit-linear-gradient(225deg, rgb(251, 175, 21), rgb(251, 21, 242),             
    rgb(21, 198, 251)) 0% 0% / 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 2s ease 0s infinite normal none running fontgradient;
    -webkit-animation: fontgradient 2s ease infinite;
    -moz-animation: fontgradient 2s ease infinite;
    animation: fontgradient 2s ease infinite;  
}

@-webkit-keyframes fontgradient {
0%{background-position:0% 92%}
50%{background-position:100% 9%}
100%{background-position:0% 92%}
}

@-moz-keyframes fontgradient {
0%{background-position:0% 92%}
50%{background-position:100% 9%}
100%{background-position:0% 92%}
}

@keyframes fontgradient { 
0%{background-position:0% 92%}
50%{background-position:100% 9%}
100%{background-position:0% 92%}
}  

.name {
    padding: 0 10px;
}

.content-container {
    background-image: url("profile.jpg");
    background-repeat: no-repeat;
    background-color: linear-gradient(90deg, rgba(3,4,9,1) 43%, rgba(0,0,0,1) 100%);
    width: 100%;
    overflow: hidden;
    height: 960px;
    padding-top: 300px;
    display: grid;
    grid-template-areas: 
    "profile"
    "skills"
    "contact";
}

.container {
    padding-left: 65%;
    min-width: 300px;

    /* border: solid white 5px; */
}

.profile-container {
    grid-area: profile;
    /* border: solid white 5px; */
    /* max-width: 300px; */
}

.name-container {
    max-width: 400px;
}

.skills-container{
    grid-area: skills;
    position: relative;
}

.contact-container{
    grid-area: contact;
}

.nickname {
    font-size: 60px; 
    padding: 15px; 
    color: tomato; 
    text-align: center;
}

.logo-span:hover {
    font-size: 3em;
    color: thistle;
}

@media only screen and (max-width: 768px) {
    .content-container {
        padding-top: 350px;
        grid-template-areas: 
        "profile profile"
        "skills contact";
    }

    .container {
        padding-left: 5%;
        /* border: solid white 5px; */
    }

    .profile-container {
        grid-area: profile;
        padding-left: 60%;
    }

    .logo-span {
        font-size: 3em;
        padding: 0;
    }
}

@media only screen and (max-width: 580px) {
    .name-warp{
        justify-content: left;
    }

    .nickname {
        text-align: left;
    }

    .content-container {
        padding-top: 320px;
        grid-template-areas: 
        "profile"
        "skills"
        "contact";
    }

    .container {
        padding-left: 8%;
        /* border: solid red 5px; */
        text-align: left;
    }

    .logo-span {
        font-size: 3em;
        padding: 0;
    }

    .contact-container {
        margin-top: -20px;
    }
}




